# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Локальные файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
logs/
*.log

# Файлы сборки/дистрибуции
dist/
build/
*.tsbuildinfo

# Кэш
.cache/
.parcel-cache/

# Системные файлы
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.tmp
*.temp