@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

body {
  font-family: $font-family;
  color: $text-color;
  background-color: $light-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;

}

#root {
  min-height: 100vh;
}

// Reset styles
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

// Utility classes
.container {
  max-width: 1440px;
  margin: 0 auto;
  
  
}

.text-center {
  text-align: center;
}