.circle-slider {
  position: relative;
  width: 530px;
  height: 530px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .center-dates {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    font-size: 200px;
    line-height: 160px;
    font-weight: bold;
    gap: 40px;
    display: flex;
  }
  .startYear{
    color: secondary-color;
  }

  .circle-container {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 100px auto;

    .circle-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
    }

    .dot {
      width: 6px;
      height: 6px;
      border: none;
      border-radius: 50%;
      background: #42567A;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 2;

      &.active {
      width: 40px;
      height: 40px;
      border: 1px solid #303e587c;
      border-radius: 50%;
      background: #F4F5F9;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 2;
        
        .dot-number {
          color: #42567A;
          font-size: 20px;
          line-height: 30px;
        }
      }

      .dot-number {
        font-size: 0;
      }
    }
  }

  // Навигация
  .circle-navigation {
    position: absolute;
    display: block;
    bottom: 0%;
    left: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;

    .slide-counter {
      font-size: 14px;
      color: #42567A;

      .current-slide {
        font-size: 16px;
        font-weight: 500;
      }

      .total-slides {
              color: #42567A;

      }
    }

    .navigation-buttons {
      display: flex;
      gap: 10px;

      .circle-nav-button {
        width: 40px;
        height: 40px;
        border: 1px solid #42567a7e;
        border-radius: 50%;
        background: #F4F5F9;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        color: #42567A;
        font-size: 14px;
        &:hover {
          background: #f5f5f5;
          border-color: #5d5fef;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  // Скрытый Swiper
  .hidden-swiper {
    display: none;
  }
}
