@import '../variables.scss';


.circle-slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  
  .center-dates {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    font-size: 160px;
    pointer-events: none;
    font-weight: bold;
    gap: 40px;
    display: flex;
  
    align-items: center;
    .start-year,
    .end-year {
    display: flex;
    
    
    font-weight: bold;
    line-height: 1;
    
    // Для плавности 3D-трансформаций
    perspective: 100px;
    
    span {
      // Каждая цифра будет анимироваться отдельно
      backface-visibility: hidden;
    }
    }
    }
    .startYear{
    color: secondary-color;
    }

  .circle-container {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 0 auto;

    .circle-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $lines;
      border-radius: 50%;
    }
    
    .dot {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      background: $primary-color;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      position: absolute;
      left: 45%;
      top: 45%;
      transform-origin: center;
      transform: translate3d(-50%, -50%, 0);;
       isolation: isolate;
      &:hover {
        width: 40px;
      height: 40px;
      border: 1px solid #303e587c;
      border-radius: 50%;
      background: $light-gray;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 1001;
      transform-origin: center ;
      
      
      
      
      .dot-number {
          color: $primary-color;
          font-size: 20px;
          line-height: 30px;
           transform: rotate(calc(-1 * var(--dot-rotation, 0deg)));
     transition: transform 0.3s ease;
    display: block;
        }
      }
      &.active {
      width: 40px;
      height: 40px;
      border: 1px solid #303e587c;
      border-radius: 50%;
      background: $light-gray;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 1001;
      transform-origin: center ;
      
      
      
        
        .dot-number {
          color: $primary-color;
          font-size: 20px;
          line-height: 30px;
          
        }
      }

      .dot-number {
        font-size: 0;
      }
    }
  }

  // Навигация
  .circle-navigation {
    position: absolute;
    display: block;
    bottom: 0%;
    left: 7%;
    transform: translateY(50%);
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;

    .slide-counter {
      font-size: 14px;
      color: $primary-color;

      .current-slide {
        font-size: 16px;
        font-weight: 500;
      }

      .total-slides {
              color: $primary-color;

      }
    }

    .navigation-buttons {
      display: flex;
      gap: 10px;

      .circle-nav-button {
        width: 40px;
        height: 40px;
        border: 1px solid #42567a7e;
        border-radius: 50%;
        background: #F4F5F9;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        color: $primary-color;
        font-size: 14px;
        &:hover {
          background: #f5f5f5;
          border-color: #5d5fef;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  // Скрытый Swiper
  .hidden-swiper {
    display: none;
  }
}
.circle-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  width:
360px;
  height: 360px;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  z-index: 10;
}

.dots-row{
      display: flex;
      gap: 5px;
      bottom: -150%;
    right: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}
.dot-mobile{
  width: 6px;
  height: 6px;
  background-color: $lines;
  border-radius: 50%;
  &.active{
    background-color: $primary-color;
  }
}