.circle-slider {
  position: relative;
  width: 530px;
  height: 530px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .center-dates {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    font-size: 200px;
    line-height: 160px;
    font-weight: bold;
    gap: 40px;
    display: flex;
  }

  .circle-container {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 100px auto;

    .circle-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
    }

    .dot {
      width: 7px;
      height: 7px;
      border: none;
      border-radius: 50%;
      background: #000;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 2;

      &.active {
      width: 56px;
      height: 56px;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 2;
        
        .dot-number {
          color: #000;
          font-size: 20px;
        }
      }

      .dot-number {
        
      }
    }
  }

  // Навигация
  .circle-navigation {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 40px;

    .slide-counter {
      font-size: 14px;
      color: #333;

      .current-slide {
        font-size: 16px;
        font-weight: 500;
      }

      .total-slides {
        color: #999;
      }
    }

    .navigation-buttons {
      display: flex;
      gap: 10px;

      .circle-nav-button {
        width: 40px;
        height: 40px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &:hover {
          background: #f5f5f5;
          border-color: #5d5fef;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  // Скрытый Swiper
  .hidden-swiper {
    display: none;
  }
}
.cross-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; // Чтобы не мешало кликам
}

.cross-line {
  position: absolute;
  background: #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  
  &.horizontal {
    width: 100%;
    height: 1px;
    
  }
  
  &.vertical {
    width: 1px;
    height: 100%;
    
  }
}