@import '../variables.scss';
.events-slider {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 50px;
  position: relative;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.swiper {
  width: 100%;
  height: 200px;
  
}


.swiper-slide {
  display: flex;
  justify-content: center;
  margin-right: 40px;
   transition: transform 0.3s ease;
}

.event-card {
  max-width: 320px;
   transition: all 0.3s ease;
  
  
  text-align: left;
  
  .event-year {
    color: #4267B2;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .event-text {
    color: #333;
    font-size: 16px;
  }
}

// Стили для пагинации
.swiper-pagination-bullet {
  background: #4267B2;
}

.swiper-pagination-bullet-active {
  background: #ff0000;
}

// Стили для кнопок навигации
.swiper-button-prev{
  left: 3% !important;
}
.swiper-button-next{
  right: 3% !important;
}
.swiper-button-prev,
.swiper-button-next {
   width: 40px;
        height: 40px;
        border: 1px solid #42567a7e;
        border-radius: 50%;
        background: #F4F5F9;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        color: $primary-color;
        font-size: 14px;
            top: 45%;
    transform: translateY(-50%);
     transition: all 0.3s ease;

        &:hover {
          background: #f5f5f5;
          border-color: #5d5fef;
        }
  svg {
    width: 5px;
    height: 10px;
  }      
  
  &:after {
    font-size: 20px;
  }
}