@import '../variables.scss';

.events-slider {
  max-width: 100%;
  margin: 0 auto;
  padding: $spacing-md 50px;
  position: relative;
  font-family: $font-family;
  
  h2 {
    text-align: center;
    margin-bottom: $spacing-md;
    font-family: $font-family;
    font-weight: $font-weight-bold;
  }
}

.swiper {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  margin-right: $spacing-xl;
  transition: transform 0.3s ease;
  font-family: $font-family;
}

.event-card {
  max-width: 320px;
  transition: all 0.3s ease;
  text-align: left;
  font-family: $font-family;
  
  .event-year {
    color: $first-color;
    font-size: 24px;
    margin-bottom: $spacing-sm;
    font-family: $font-family;
    font-weight: $font-weight-bold;
  }
  
  .event-text {
    color: $primary-color;
    font-size: $font-size-base;
    font-family: $font-family;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
  }
}

.swiper-pagination-bullet {
  background: $first-color;
}

.swiper-button-prev {
  left: 3% !important;
}

.swiper-button-next {
  right: 3% !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  border: 1px solid #42567a7e;
  border-radius: 50%;
  background: $light-gray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: $primary-color;
  font-size: $font-size-base;
  top: 45%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  font-family: $font-family;

  &:hover {
    background: #f5f5f5;
    border-color: #5d5fef;
  }
  
  svg {
    width: 5px;
    height: 10px;
  }      
  
  &:after {
    font-size: 20px;
  }
}