@import '../variables.scss';

.timeline{
  border-left: 1px solid $lines;
  border-right: 1px solid $lines;
  position: relative;
  padding-top: 30px;
  height: 100vh;
  font-family: $font-family;
}
.timeline-title{
  
   border-left: 4px solid;
    border-image: linear-gradient(to bottom, $first-color, $secondary-color) 1;
  .timeline-title_h1 {
    text-align: left;
    font-weight: $font-weight-bold;
    font-size: 56px;
    width: 50%;
    color: $primary-color;
    margin-top: 60px;
    padding-left: 70px;
    line-height: 4rem;
    span {
      display: block;
    }
  }
}
.timeline-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.cross-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.cross-line {
  position: absolute;
  background: $lines;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  
  &.horizontal {
    width: 100%;
    height: 1px;
    top: 43%;
  }
  
  &.vertical {
    width: 1px;
    height: 100%;
    
  }
}

//--MOBILE--//

@media (max-width: $tablet) {
    .circle-slider.center-dates{
        font-size: 80px;
        
        font-weight: $font-weight-bold;
    }
    .cross-line.horizontal{
        top: 47%
    }

}
@media (max-width: $mobile) {
    
    .circle-slider .center-dates{
        font-size: 56px;
        gap: 20px;
        
        font-weight: $font-weight-bold;
    }
    .circle-container{
      height: 170px !important;
      width: 100% !important;
      border-bottom: 2px solid $lines !important;
    }
    .circle-border{
      border: none !important;
    }
    .cross-line {
        display: none;
    }
    .timeline{
        border-left: none;
        border-right: none;
        font-family: $font-family;
        .timeline-title{
          border-left: none;  
        }
        .timeline-title_h1{
          padding-left: 0;
          margin-top: 30px;
          font-size: 20px;
          line-height: 120%;
          font-weight: $font-weight-bold;
        }
    }
    
    .container{
        padding: 0 20px;
    }
    .events-slider{
      padding: 0;
    }
    .circle-navigation{
      left: 0 !important;
      bottom: -150% !important;
      gap: 5px !important;
    }
    .timeline-content{
      gap: 10px;
    }
    .event-card {
      font-size: 14px;
      .event-year{
        font-size: 14px;
      }
      .event-text {
        font-weight: $font-weight-normal;
      }
    }
    .swiper-button-prev,
    .swiper-button-next{
      display: none;
    }
    .circle-wrapper{
      width: 100%;
      height: 100%;
    }
    
    .circle-nav-button{
      width: 25px !important;
      height: 25px !important;
    }
    .slide-counter,
    .current-slide{
      font-size: 14px !important;
    }
    .swiper-slide {
      opacity: 0.4;
      transition: opacity 0.3s ease;
      
      &-active {
        opacity: 1;
      }
      
      &-next {
        opacity: 0.4 !important;
      }
      
      &-prev {
        opacity: 0.4 !important;
      }
    }
}