@import '../variables.scss';

.timeline{
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  position: relative;
  padding-top: 30px;
  height: 100vh;
}
.timeline-title{
  
   border-left: 4px solid;
    border-image: linear-gradient(to bottom, #3877EE, #EF5DA8) 1;
  h1 {
    text-align: left;
    font-weight: bold;
    font-size: 56px;
    width: 50%;
    color: #42567A;
    margin-top: 60px;
    padding-left: 70px;
    line-height: 4rem;
    span {
      display: block;
    }
  }
}
.timeline-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.cross-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; // Чтобы не мешало кликам
}

.cross-line {
  position: absolute;
  background: #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  
  &.horizontal {
    width: 100%;
    height: 1px;
    top: 43%;
  }
  
  &.vertical {
    width: 1px;
    height: 100%;
    
  }
}
