@import '../variables.scss';

.timeline{
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  position: relative;
  padding-top: 30px;
  height: 100vh;
}
.timeline-title{
  
   border-left: 4px solid;
    border-image: linear-gradient(to bottom, #3877EE, #EF5DA8) 1;
  .timeline-title_h1 {
    text-align: left;
    font-weight: bold;
    font-size: 56px;
    width: 50%;
    color: #42567A;
    margin-top: 60px;
    padding-left: 70px;
    line-height: 4rem;
    span {
      display: block;
    }
  }
}
.timeline-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.cross-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; // Чтобы не мешало кликам
}

.cross-line {
  position: absolute;
  background: #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  
  &.horizontal {
    width: 100%;
    height: 1px;
    top: 43%;
  }
  
  &.vertical {
    width: 1px;
    height: 100%;
    
  }
}

@media (max-width: 500px) {
    
    .circle-slider .center-dates{
        font-size: 56px;
        gap: 20px;
    }
    .circle-container{
      height: 170px !important;
      width: 100% !important;
      border-bottom: 2px solid #e0e0e0 !important;
    }
    .circle-border{
      border: none !important;
    }
    .cross-line {

        display: none;
    }
    .timeline{
        border-left: none;
        border-right: none;
        .timeline-title{
          border-left: none;
          
        }
        .timeline-title_h1{
        padding-left: 0;
            margin-top: 30px;
font-size: 20px;
line-height: 120%;
        
        
    }
    }
    
    .container{
        padding: 0 20px;
    }
    .events-slider{
      padding: 0;
    }
    .circle-navigation{
      left: 0 !important;
      bottom: -150% !important;
      gap: 5px !important;
    }
    .timeline-content{
      gap: 10px;
    }
    .event-card
    {
      font-size: 14px;
      .event-year{
        font-size: 14px
      }
    }
    .swiper-button-prev,
    .swiper-button-next{
      display: none;
    }
    .circle-wrapper{
      width: 100%;
      height: 100%;
    }
    
    
    .circle-nav-button{
      width: 25px !important;
      height: 25px !important;
    }
    .current-slide{
      font-size: 14px !important;
    }
    .swiper-slide {
      
      opacity: 0.4;
      transition: opacity 0.3s ease;
      
      // Активный слайд
      &-active {
        opacity: 1;
      }
      
      // Следующий слайд
      &-next {
        opacity: 0.4 !important;
      }
      
      // Предыдущий слайд
      &-prev {
        opacity: 0.4 !important;
      }
    }

}